
   <h1>List of songs</h1>
   <ul class="list-group">
     {{#each model.songs as |song|}}
       <li class="list-group-item">
           {{song.title}}
       </li>
     {{/each}}
   </ul>

 
 {{outlet}}