 <div class="container">
   <h2 class="title">Jared Bass, ITP 405</h2>
 
  
       
       
           {{#link-to 'index'}}
             Home
           {{/link-to}}
   <br>
      
           {{#link-to 'artists'}}
             Artists
           {{/link-to}}
     

   <div class="row">
     {{outlet}}
   </div>
 </div>