

   <h1>List of artists</h1>
   <ul class="list-group">
     {{#each model.artists as |artist|}}
       <li class="list-group-item">
        {{#link-to 'artists.artist' artist.id}}
          {{artist.artistName}}
         {{/link-to}}
       </li>
     {{/each}}
   </ul>

 
 {{outlet}}